<section class="page-section bg-primary" id="messaging">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Contact</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Interested in my work or what I could do for you? Leave a message below.</p>
                <div class="container text-center contact-form">
                    <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
                      <div class="mb-3 text-start">
                        <label class="pb-2" for="floatingInput"> Your email address</label>
                        <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
                      </div>
                      <div class="mb-3 text-start">
                        <label class="form-label" id="floatingInput">Your message</label>
                        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
                      </div>
                      <button class="btn btn-primary my-2" type="submit">Send it!</button>
                    </form>
                </div>
                <p class="text-white-75">You can also reach me on</p>
                <div class="container">
                  <p class="row"> 
                    <a class="col order-1" target="_blank" href="https://www.linkedin.com/in/rico-ngo/"><i class="fa-3x fa-brands fa-linkedin-in text-white"></i></a>
                    <a class="col order-2" target="_blank" href="https://www.strava.com/athletes/39304026"><i class="fa-3x fa-brands fa-strava text-white"></i></a>
                    <a class="col order-3" target="_blank" href="https://www.instagram.com/ricon8/"><i class="fa-3x fa-brands fa-instagram text-white"></i></a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>