<head>
    <title>Portfolio of Rico Ngo</title>
</head>
<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<!-- Main section portfolio -->

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading fw-bold text-secondary">Portfolio</h1>
            <p class="section-subheading ">An overview of my most impactful projects and products that I have worked on in my career.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Process Safety tool</div>
                        <div class="portfolio-caption-subheading text-muted">The best PSM tool according to Verdantix 2019 and used by major Oil & Gas Players.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Risk Bow Tie</div>
                        <div class="portfolio-caption-subheading text-muted">Enhancing risk visualizations with real-time data for instant insights and actions. </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Live music platform</div>
                        <div class="portfolio-caption-subheading text-muted">Enabling artists to stream & connect with their audience via virtual events.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Digital payment</div>
                        <div class="portfolio-caption-subheading text-muted">A collab with Adyen to monetize streams & events for artists and organisers. </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Music right tracker</div>
                        <div class="portfolio-caption-subheading text-muted">Enabling artists & MRO to payout correct royalties through live music tracking.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Webcast platform</div>
                        <div class="portfolio-caption-subheading text-muted">The next-gen webcast platform that focuses on engagement & data insights.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Process Safety Tool</h2>
                            <p class="item-intro text-muted">Barrier Vision - now also known as Barrier Management by Enablon/Wolters Kluwer.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/1.jpg" alt="..." />
                            <p>Barrier Vision is a process safety management tool that calculates & visualizes real-time cumulative risks accross worksites based on big data. I was leading a product development team of 7 and we built this product from a concept to a MVP with multiple clients. It was used by the biggest global Oil & Gas majors and it was ranked as the best Process Safety Management tool by Verdantix in 2019.  eVision has been acquired and is now part of Enablon/Wolters Kluwer.
                            </p>
                            <!-- <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul> -->
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Risk Bow Tie</h2>
                            <p class="item-intro text-muted">Enhancing risk visualizations with real-time data for instant insights and actions.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/2.jpg" alt="..." />
                            <p>Risk bowtie visualizations is a different form of risk management. This was complementary to what Barrier Vision offered. By integrating CGE's solution, Safety risk officers were able to dynamically update the risk bowtie with live data. All Oil & Gas majors were interested to adopt this integration as soon as possible. My team has lay the foundation for this successful product.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Digital payment</h2>
                            <p class="item-intro text-muted">A collab with Adyen to monetize streams & events for artists and organisers.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/3.jpg" alt="..." />
                            <p>We partnered up with Adyen so that we could monetize our business model through paywalling of streams, paying directly to our artists, and more. It was initially meant to host a wallet system for our users for festival events to pay for tickets, food, and goodies.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Music right tracker</h2>
                            <p class="item-intro text-muted">Enabling artists & MRO to payout correct royalties through live music tracking.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/4.jpg" alt="..." />
                            <p>By collaborating with DJ Monitor, we could effectively calculate music royalties to be paid to major music right organisations with live streams of our artists. We integrated DJ Monitor's solution within our platform and with our Adyen integration, we could collect and distribute money to the right parties. A gamechanger in the industry.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Webcast platform</h2>
                            <p class="item-intro text-muted">The next-gen webcast platform that focuses on engagement & data insights.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/5.jpg" alt="..." />
                            <p>Delivered the MVP for the next-gen webcast platform where we enable our clients to have meaningful connections with its audience. With our experience and knowledge, we help major companies to broadcast their message effectively to their audience. Through digital innovations, we realize more engagement and value for our customers in their online video communications.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Live music platform</h2>
                            <p class="item-intro text-muted">Enabling artists to stream & connect with their audience via virtual events.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/6.jpg" alt="..." />
                            <p>With over 1million+ users, Woov is a live music platform that enables artists and its audience to party together, but virtually. Origanally, Woov was a live event application, but due to the global pandemic it has evolved to a live music platform and adapted quickly to the new reality. I was responsbile as the Product Lead.
                                
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EJS Messaging Contact -->
<%- include("partials/messaging") -%>

<!-- EJS Footer -->
<%- include("partials/footer") -%>